// Specific CSS for your home-page

// Common designs
.full-height {
  min-height: 100vh;
}

.full-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Specific designs

// 1 - Banner

.banner {
  background-image: asset-url("banner_1.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.banner-content {
  // margin: auto;
  // margin-top: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;

  .title {
    font-family: $special-font;
    font-size: 40px;
    color: $white;
    letter-spacing: 1.5px;
  }

  .tagline {
    color: $white;
    font-weight: lighter;
    opacity: 0.7;
    margin-bottom: 0.5rem;
  }

}
.yellow-button {
  box-shadow: $box-shadow;
  padding: 0.6rem 1rem;
  background-color: yellow;
  border-radius: $border-radius;
  color: black;
  font-family: $body-font;
  font-weight: 600;
  margin: 1rem;
}

// 2 - vision
.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centered-elements {
  display: flex;
  align-items: center;

  .text-boxes {
    flex: 0 0 40%;
    padding: 1rem;
  }
}

.target {
}

.ambition {
  text-align: center;
  border: 1px solid $yellow;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  opacity: 0.8;
  z-index: -1;
  border-radius: $border-radius;

  h3 {
    font-family: $body-font;
    font-weight: bold;
  }

  p {
    line-height: 180%;
  }

  span {
    font-size: 14px;
    font-weight: lighter;
    opacity: 0.7;
  }
}

.lora-text {
  line-height: 41px;
  font-weight: bold;
  font-size: 24px;
  font-family: $headers-font;
  margin-bottom: 1rem;
}

.polygons {
  position: relative;
  min-width: 7rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.yellow-arrow {
  height: 10em;
  position: absolute;
  left: 10%;
  z-index: 1;
}

.blue-arrow {
  height: 10em;
  position: absolute;
  right: -10%;
}

.black-button {
  color: black;
  padding: 0.5rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: $box-shadow;
}

// 2.bis - vision suite
.container-second-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 5rem 0;
}

.vision-second-part {
  display: flex;

  h2 {
    font-family: $headers-font;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    color: $black;
  }

  span {
    color: $dark-blue;
  }

  p {
    font-family: $headers-font;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
  }
}
.right-text-lora-italic {
  margin-left: 3rem;
}

.left-image {
  background-image: asset-url("galaxy-box.jpeg");
  flex: 1 0 40%;
  height: 400px;
  margin: 0 1rem;
  border-radius: $border-radius;
  background-position: center;
  background-size: cover;
}

#arrow {
  height: 5rem;
  margin-bottom: -8rem;
  z-index: 1;
  margin-top: 3rem;
}

// 3. action-plan
.yellow-background {
  background: #F3F1D1;
  text-align: center;

  h2 {
    box-shadow: 0 10px $dark-gray;
  }
}

.ultra-title {
  padding-top: 70px;
  font-family: $special-font;
  font-size: 32px;
  color: $black;
  text-align: left;
}

.cards {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: $box-shadow;
  text-align: left;
  // min-height: 30rem;
}

.right-margin {
  margin-right: 1rem;
}

.top-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $margin-bottom-text;
  flex-wrap: wrap;

  h3 {
    font-family: $body-font;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
  }
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $light-gray;
}

.italic-lora {
  margin-bottom: $margin-bottom-text;
  font-family: $headers-font;
  font-style: italic;
  font-weight: lighter;
}

.bold-centered-lora {
  font-family: $headers-font;
  font-weight: bold;
}

// 4 - feuille de route
.milky-banner {
  background-image: asset-url("milky.jpeg");

  h2 {
    color: $white;
    margin-bottom: 2rem;
    opacity: 0.9;
  }
}

.long-cards {
  display: inline-block;
}

.long-card {
  margin-bottom: $margin-bottom-text;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  // min-height: 8rem;
}

.long-card:nth-of-type(1) {
  // margin-left: -6rem;
}

.long-card:nth-of-type(2) {
  margin-left: 4rem;
}

.long-card:nth-of-type(3) {
  margin-left: 8rem;
}

.long-card:nth-of-type(4) {
  margin-left: 12rem;
}

.yellow-circle {
  font-family: $special-font;
  color: $black;
  font-size: 30px;
  background-color: #FFF852;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: $box-shadow;
  margin-top: -1rem;
  margin-left: -2rem;
  z-index: 1;
}

.white-transparent-rectangle {
  background-color: $white;
  opacity: 0.7;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 50rem;

  h3 {
    color: $dark-gray;
    font-weight: bold;
  }
}
