<div class="footer">
  <div class="footers-logo">
    <%= link_to "https://www.linkedin.com/in/louisedarche/", target: "blank" do %>
      <i class="fab fa-linkedin-in"></i>
    <% end %>
  </div>
  <div class="rights-link">Made with love by the <%= link_to "The Darche Side", "#" %></div>
</div>
