<div id="footer">
  <div class="footers-logo">
    <%= link_to "https://www.linkedin.com/in/louisedarche/", target: "blank" do %>
      <i class="fab fa-linkedin-in" id="linkedin"></i>
    <% end %>
  </div>
  <p class="rights-link">Made with ✨ by the <%= link_to "The Darche Side", "#", id: "footer-link" %></p>
</div>
