<div class="navbar">
  <div id="logo">The Darche Side</div>
  <div class="navbar-links">
    <%= link_to "Vision", "#" %>
    <%= link_to "Approche", "#" %>
    <%= link_to "Qui suis-je", "#" %>
    <%= link_to "Contact", "#", class: "navbar-button" %>
  </div>
</div>
